.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.dark-theme {
  --clr: #ddd;
  --bkg: #121d36;
  background-color: white;
}

.light-theme {
  --clr: #222;
  --bkg: #ffdeb2;
  background-color: black;
}
