button {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: inherit;
  outline: none;
  border: none;
  border-radius: inherit;
  cursor: pointer;
}

.square-btn {
  width: 100%;
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: center;
  transition: 0.1s border-color;
  grid-gap: 5px;
  font-size: inherit;
  transition: 0.2s;

  .svg-inline--fa {
    width: 70%;
    height: auto;
  }

  &:hover {
    color: #aaaaffc0;
  }
}

.icon-btn {
  height: 100%;
  aspect-ratio: 1;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s border-color;
  grid-gap: 5px;
  flex: 1;

  //.svg-inline--fa {
  //  width: 70%;
  //  height: auto;
  //}

  &:hover {
    border-color: #ffffff75;
  }
}

.themed-btn {
  background-color: #ffffff50;

  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  width: fit-content;

  &__icon {
    height: 20px;
    aspect-ratio: 1;
  }

  &__label {
    white-space: nowrap;
  }

  &:hover {
    background-color: #ffffff90;
  }
}