
.card {
  color: var(--clr);
  background-color: var(--bkg);
  border-radius: 10px;
  padding: 0.25rem;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__top {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid gray;
    cursor: all-scroll;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      border: 1px solid gray;
    }

    > svg {
      height: inherit;
      width: inherit;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
  }
}
