
.other-controls {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid transparent;
  transition: 0.1s border-color;
  font-size: 0.75rem;

  .card__body {
    height: 45px;
    grid-gap: 10px;
  }

  .divider {
    height: 70%;
    width: 1px;
    background-color: #ffffff50;
  }

  svg {
    height: 60%;
    width: auto;
  }
}
