
.spaces {
  width: 200px;
}

.music {
  width: 200px;
}

.tasks {
  width: 200px;

  .card__body {
    flex-direction: column;
    padding: 0 0.1rem;
  }

  .task-item {
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    margin: 0.5rem 0 0;
    cursor: pointer;

    &.checked {
      text-decoration: line-through;
      color: gray;
    }

    &__check-box {
      height: 21px;
      aspect-ratio: 1;
      border-radius: 5px;
      padding: 0.1rem;
      background-color: var(--clr);
      color: var(--bkg);
    }
  }

  .new-task-item {
    margin-top: 0.5rem;

    &__input {
      padding: 0.5rem;
      width: 100%;
    }

    &__button {
      margin: 0.5rem auto;
    }
  }
}

.timer {
  width: 400px;
  height: 150px;

  .card__body {
    flex-direction: column;
    padding: 0 1rem;
  }

  &__top {
    width: 100%;
    flex: 3;
    display: flex;
    align-items: center;
  }

  &__start {
    flex: 2;

    > button {
      width: 100%;
    }
  }

  &__reset, &__start {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__display {
    flex: 3;
    font-size: 4rem;
  }

  &__bottom {
    width: 100%;
    flex: 1;
    display: flex;
    grid-gap: 10px;

  }

  &__reset {
    flex: 1;

    > button {
      height: 30px;

      svg {
        height: 100%;
        width: auto;
      }
    }
  }
}
